#color-body {
    background: #fafafa !important;
    color: white;
    -moz-box-shadow: inset 0 0 10em white;
    -webkit-box-shadow: inset 0 0 10em white;
    box-shadow: inset 0 0 10em white;
}

.navbar-inverse {
    background: #D6D6D6;
    border-color: gray;
    border-style: none;
    margin: auto;
}

#back-text {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

section {
    padding: 100px 0;
    text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btns {
    width: 40%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.promise {
    color: #999;
}


.opps{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 22px;
}

#back-text:hover {
    color: lightcoral;
}
.well{
    color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
    cursor: default;
}
.publeback{
    background: purple;
}
h3{
    color: black;
    font-family: 'Poiret One', cursive;
    font-size: 26px;
    font-weight: 800;
}

.hide{
    visibility: hidden;
}
h100 {
    color: white;
    font-family: 'Poiret One', cursive;
 font-size:18px;
    font-weight: 800;
}

.rightright{
  visibility: hidden
}

h1{
    color: grey;
    font-family: 'Poiret One', cursive;
}

.SS{
    color: black;
    font-family: 'Fira Sans', sans-serif;
    FONT-WEIGHT: 700;
    FONT-SIZE: 40PX;
}

.quiz-image {
    display: block;
    max-width: 950px;
    max-height: 540px;
    width: auto;
    height: auto;
    overflow: hidden;
}

.footer {
    color: gray;
    background: #D6D6D6;
}

.space-list {
    padding: 5px;
    position: relative;
}

.btn,
.btn:visited,
.btn:focus,
.btn:link {
    width: auto;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    /*  font-weight: 300;*/
    background: #6d5f79;
    border: 1px solid gray;
    color: white;
    overflow: hidden;
    transition: all 0.5s;
}

.topbannertext{
    font-family: "Source Sans Pro","Helvetica Neue",sans-serif;
    color: white;
}

.btn:hover,
.btn:active,
.btn:disabled {
    text-decoration: none;
    color: lightcoral;
    border-color: white;
    background: white;
}

.btn-reset {
    background-color: lightcoral;
    border-color: lightcoral;
}

.btn-reset:hover,
.btn-reset:active {
    background-color: #FFF;
    border-color: black;
    color: black;
}

.img-info {
    background: lightcoral;
}

.modal {
    color: black;
    background: lightcoral;
    -moz-box-shadow: inset 0 0 10em white;
    -webkit-box-shadow: inset 0 0 10em white;
    box-shadow: inset 0 0 10em white;
    text-transform: none;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
}
.show-answer{
    
}